.grid-box{
    margin-top: 0rem;
    width: 95%;
    border: none;
}
.outer-div{
    background-color: #0B0500;
    padding: 2rem;
}
.control-panel{
    background-color: #D8F1A0;
    height: 6.6rem;
}
.control-panel button{
    background-color: #00A878;
    color: #0B0500;
    font-weight: 1000;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1rem;
}